* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: sans-serif;
}

body, .photos-body {
    padding-top: 69px;
    width: 100%;
}

.text-center {
    text-align: center;
}

h2 {
    font-size: 2.8em;
    padding: .5em 0;
}

.container {
    width: 95%;
    margin: 0 auto;
}

p {
    font-size: 18px;
}

.nav-anchor::before {
    content: "";
    display: block;
    height: 69px;
    margin: -69px 0 0;
  }

.header-paragraphs {
    font-size: 2em;
    color: white;
    text-shadow: 2px 2px 1px #111;
}

/* //////////////Header////////////// */

.nav-logo-wrap {
    background: #668d3f;
    width: 100%;
    padding: 1em 0;
    top: 0%;
    position: fixed;
    width: 100%;
    z-index: 1000;
    border-bottom: 2px solid black;
}

.logo {
    text-decoration: none;
    font-size: 2em;
    color: white;
}

.nav-bar a {
    text-decoration: none;
}

.burger {
    position: absolute;
    top: 11px;
    right: 20px;
}

.burger:hover {
    cursor: pointer;
}

.burger i{
    display: block;
    background: #111;
    height: 2px;
    width: 35px;
    margin: 10px;
}


h3  {
    font-size: 2em;
    border-bottom: 1px solid black;
}

/* //////////////Home_Section////////////// */

.home-section {
    background-image:linear-gradient( rgba(0,0,0,.5), rgba(0,0,0,.5) ), url(../images/header_background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 7em 0;
}

h1 {
    font-size: 3em;
    padding-bottom: .5em;
    color: white;
    text-shadow: 2px 2px 1px #111;
}

/* //////////////Services////////////// */

.services-content-container {
    display: flex;
    flex-direction: column;
}

.services-content-container img {
    margin: 0 auto;
    width: 300px;
    height: 250px;
}

.services-content-container h3 {
    margin: .5em auto;
}

#lawn-care-popup, 
#small-projects-popup, 
#house-cleaning-popup {
    display: none;
    text-align: left;
    margin: 0 auto;
}

.services-popup ul li {
    padding-top: .5em;
    color: 597835;
    font-weight: 700;
    font-size: 1.5em;
}

.services-popup ul li::before {
  content: url(../images/brown_check.png);
  padding-right: .3em;
}

.services-popup ul span {
    font-size: 15px;
    padding-left: 2em;
}

.services-button {
    display: inline-block;
    margin: 1em auto;
    color: white;
    font-size: 1em;
    padding: 1em 2em;
    border-radius: 5px;
    background: #7BA94C;
}

.services-button:hover {
    background: #597b37;
    cursor: pointer;
}

/* //////////////Second Background////////////// */

.second-background {
    display: none;
}

/* //////////////About////////////// */

.about-section {
    padding-bottom: 2.5em;
}

.about-section img {
    display: block;
    height: 500px;
    box-shadow: 0 0 10px grey;
}

.about-header-sentence {
    width: 260px;
    margin: .5em 0 .2em 0;
}

.image-with-content {
    padding-top: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* //////////////Photos////////////// */

.photos-section {
    background:linear-gradient( rgba(0,0,0,.5), rgba(0,0,0,.5) ), url(../images/photos_header_background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.photos-section h2 {
    color: white;
}

.photos-container {
    position: relative;
    z-index: 1;
    width: 400px;
    margin: 0 auto;
}

.content-image {
    cursor: pointer;
    display: inline-block;
    box-shadow: 0 0 10px black;
    height: 300px;
    width: 300px;
}

.pseudo-arrow-left{
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
}

.pseudo-arrow-right{
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translateY(-50%);
}

.photos-trail {
    padding: 1em 0;
}

.image-light {
    background: #f2f2f2;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 3px;
    border-radius: 50%;
    cursor: pointer;
}

.image-light:hover {
    background: #a6c884;
}

.active {
    background: #668d3f;

}

.active:hover {
    background: #668d3f;
}

.photos-view-more {
    text-decoration: none;
    display: inline-block;
    background: white;
    padding: 1.2em 2em;
    margin-bottom: 1em;
    border-radius: 5px;
    color: #7BA94C;
}

.photos-view-more:hover {
    background: #f2f2f2;
    box-shadow: 0 0 4px grey;
}

/* //////////////Contact////////////// */

.contact-section {
    margin: 0 auto 2em;
}

.contact-info-container {
    width: 95%;
    margin: 1em auto;
}

label {
    display: block;
    color: #62781A;
    font-size: 1.2em;
    margin-bottom: .2em;
}

.input-content, textarea, select {
    width: 100%;
    padding: .5em 0 .5em .5em;
    font-size: 16px;
}

input[type=submit] {
    font-size: 16px;
    background: #7BA94C;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    padding: 1.2em 2.4em;
}

input[type=submit]:hover {
    background: #597b37;
}

/* input:required:invalid {border: 2px solid red;} */

/* //////////////FOOTER////////////// */

footer, .photos-footer {
    padding: 2em 0;
    border-top: 1px solid lightgrey;
    background: #fafafa;
}

.website-creater {
    display: inline-block;
    margin-bottom: .6em;
    color: #62781A;
    font-size: 18px;
    text-decoration: none;
}

.copyright {
    color: #62781A;
    font-size: 16px;
}

/* //////////////PHOTOS HEADER-BAR////////////// */

.photos-header-bar {
    background:linear-gradient( rgba(0,0,0,.7), rgba(0,0,0,.7) ), url(../images/photos_header_background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2em 0;
    padding-left: 1em;
    font-size: 3em;
}

.photos-header-container {
    position: relative;
    margin-left: 1em;
}

.photos-header-over-bar{
    margin-top: .2em;
    position: absolute;
    background: #678D3F;
    height: 2px;
    width: 30px;
    top: -20px;
    left: -15px;
}

.photos-header-under-bar {
    margin-top: .2em;
    position: absolute;
    background: #678D3F;
    height: 2px;
    width: 30px;
    left: 185px;
}

.photos-album-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.photos-in-album {
    flex-direction: column;
    padding: .7em;
}

.photos-in-album img {
    cursor: pointer;
    box-shadow: 0 0 10px gray;
    height: 200px;
    width: 200px;
}

/* ///////////MODAL///////////// */

#my-modal, .modal-image {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#my-modal {
    display: none;
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2000;
}

.modal-image {
    position: absolute;
}

/* ///////////MEDIA FEATURES///////////// */

@media only screen and (min-width: 640px) {

.about-content {
    width: 70%;
}

.contact-info-container {
    width: 566px;
}

.photos-container {
    width: 450px;
}
}

@media only screen and (max-width: 767px) {

.nav-bar {
    text-transform: uppercase;
    position: fixed;
    display: none;
    flex-direction: column;
    font-size: 20px;
    background: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100%;
    top: 9%;
    z-index: 100;
}

.nav-bar a {
    padding: 1em;
    border-bottom: 1px solid #4d6a2f;
    width: 100%;
    color: white;
}
.nav-bar a:hover {
    background: #4d6a2f;
}
}

@media only screen and (min-width: 768px) {

.nav-logo-wrap {
    padding: 1.5em 0;
    display: flex;
    justify-content: space-between;
}

.logo {
    margin-left: 1em;
    font-size: 27px;
}

.nav-bar {
    margin-right: .5em;
    display: flex;
    font-size: 24px;
}

.nav-bar a {
    padding: 0 .5em;
    color: white;
}

.nav-bar a:hover {
    border-bottom: 1px solid white;
}

.nav-bar :nth-last-child(n+2){
    border-right: solid white 1px;
}

.burger {
    display: none;
}

.home-section{
    height: 75%;
    position: relative;
}

.home-section-content, .second-background p {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
}

.home-section-content p {
    width: 70%;
    margin: 0 auto;
}

.home-section-content  h1 {
    font-size: 5em;
}

.services-section {
    padding-bottom: 1em;
}

.services-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.services-content-container {
    padding: 0 1em;
}
}

@media only screen and (min-width: 1024px) {

.home-section {
    height: 100%;
}

.home-section-content p {
    width: 53%;
}

.second-background {
    height: 75%;
    display: block;
    background-image:linear-gradient( rgba(0,0,0,.5), rgba(0,0,0,.5) ), url(../images/second_background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.about-content {
    width: 400px;
    box-shadow: 0 0 7px grey;
    height: 450px;
    order: -1;
    padding: 0 1em;
    margin: 1.5em 1em;
}

.about-content p {
    padding-top: .5em;
}

.image-with-content img {
    margin: 0 1em;
}

.content-image {
    display: block;
}
}

@media only screen and (min-width: 1300px) {

.services-content-container {
    padding: 0 3em;
}
}